/* basic styles */
body {background-color:#FFFFFF;font-family:verdana;font-size:10pt}
p {font-family:verdana;font-size:10pt}
h1 {font-family:verdana;font-size:12pt}
h2 {font-family:verdana;font-size:11pt}

