h1 {font-family:verdana,arial;font-size:14pt;font-weight:bold}
h2 {font-family:verdana,arial;font-size:12pt;font-weight:bold}
td, p, div, ol,ul {font-family:verdana,arial;font-size:10pt;}
strong {color:red;}
body {  background-color: #FFFFFF}
